<% if @game.is_over? %>
  <h3>GAME'S OVER!!! The winner is <%= @game.winner.username %></h3><br />
<% elsif @game.rounds.any? %>

  <% if !@game.last_round.cards_have_been_passed %>
    <h3>Please Select Three Cards To Pass <%= @game.last_round.pass_direction.capitalize %></h3>
  <% elsif @game.last_round.tricks.any? %>
    <h3>Current Trick</h3>
    <% @game.played_cards.each do |card| %>
      <%= card.in_english + " from " + card.player.username %><br />
    <% end %><br />
    <%= @game.last_trick.display_trick_info %>
  <% end %>
<% end %>