<% unless @game.is_full? %>
<div style="float: left; width: auto;">
  <div class="well">
    <center>
      <%= progress_button("fill", "skip-reload") %>
    </center>
  </div>
</div>                     
<% end %>