<div class ="scoreboard">
  <%= render :partial => 'shared/scoreboard' %>
</div>

<div class="game-buttons">
  <%= render :partial => 'shared/game_buttons' %>
</div>

<div class="main-dashboard span6 well">
  <div class="game-progress">
    <%= render :partial => 'shared/game_progress' %>
  </div>

  <div id="my-hand">
    <%= render :partial => 'shared/my_hand' %>
  </div>
</div>