<div class ="scoreboard">
  <%= render :partial => 'shared/scoreboard' %>
</div>

<div class="game-buttons">
  <%= render :partial => 'shared/game_buttons' %>
</div>

<div class="game-progress">
  <%= render :partial => 'shared/game_progress' %>
</div>