<% if @game.has_more_than_one_trick? %>
  <div class="span3 well">    
    <h3>
      <center>
        <button class="btn" id="toggle-last-trick" type="submit">Previous Trick</button>
      </center>
    </h3>
    <div class="previous-trick-info">
      <br />
      <ul>
        <% @game.previous_trick.try(:played_cards).each do |card| %>
          <li class="card card-<%= card.value + "-" + card.suit %>">
            <%= card.value + " of " + card.suit %>
          </li>
        <% end %>
      </ul>
      <br />
    </div>
  </div>
<% end %>

<div class="scoreboard">
  <h3>Total Scores</h3>
  <% @game.players.each do |player| %>
    <b><%= player.username + ": " + player.total_score.to_s %></b></br>
  <% end %>
</div>