<% if @hand.any? %>
  <div class="span4">
    <h3>Your Hand:</h3>
    <div class="mytable">
      <table class="table table-striped">
        <tbody>
          <% @hand.each do |card| %>
            <tr>
              <td>
                <% if @my_turn && card.is_valid?(@lead_suit) %>
                  <%= button_to card.in_english, play_one_card_game_path(@game, :card => card)%>
                <% else %>
                  <%= card.in_english %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>