<h1>Lobby</h1>


<div class="my-table">
  <ul>
    <% @games.each do |game| %>
      <li>
        <div class="indexed-game players-<%= game.players.length.to_s %> ">
          <h3><%= link_to game.name.to_s, game %></h3>
        </div>
      </li>
    <% end %>
  </ul>  
</div>

<%= link_to 'New Game', new_game_path, :class => "btn" %>