<h1>Lobby</h1>


<div class="game-lobby">
  <ul>
    <% @games.each do |game| %>
      <li>
        <div class="indexed-game players-<%= game.players.length.to_s %> ">
          <h3><%= link_to "#{game.name} - " + pluralize(game.players.length, 'player'), game %></h3>
        </div>
      </li>
    <% end %>
  </ul>  
</div>

<%= link_to 'New Game', new_game_path, :class => "btn" %>