<h1><%= @game.name.to_s %></h1>

<div id="game-page">
  <%= render :partial => 'shared/game_page' %>
<div>


<%= link_to 'Back', games_path %> | 
<%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' } %>