<div class="game-title">
  <h1><%= @game.name.to_s %></h1>
</div>

<div class="previous-trick">
  <%= render :partial => 'shared/previous_trick' %>
</div>

<div class="game-page">
  <%= render :partial => 'shared/game_page' %>
<div>