<%= simple_form_for(@room) do |f| %>

  <div class="field">
    <%= f.input :game, :collection => Room::GAMES, :prompt => "Select a Game" %>
  </div>

  <div class="actions">
    <%= submit_tag "Create Room", :class => "btn"  %>
  </div>
<% end %>
