<h1>Decks Present</h1>

<div class="mytable">
<table class="table table-striped">

<% @room.decks.each do |deck| %>
  <tr>
    <td><%= link_to "Deck #{deck.id}", deck %></td>
  </tr>
<% end %>
</table>
</div>

<%= link_to 'Back', rooms_path %> | 
<%= link_to 'Delete', @room, method: :delete, data: { confirm: 'Are you sure?' } %>
