<h1><%= "Room #{@room.id} - #{@room.game.capitalize}" %></h1>

<div class="mytable">
  <%= link_to "Deck", @room.decks.first %>
</div>

<%= link_to 'Back', rooms_path %> | 
<%= link_to 'Delete', @room, method: :delete, data: { confirm: 'Are you sure?' } %>
