@import "twitter/bootstrap";

.previous-trick-info {
  color: #ffe;
  position: relative;
  bottom: -80px;
  left: -79px;
  width: 250px;
}

$cardPos: -10px;

/* @group game_index */

.game-lobby{
  
  width: 800px;
}

.indexed-game{
  background: #0f0;
  height: 200px;
  margin: 10px;
  width: 200px;

	&:hover {
	  background: #0e0;
	}
	
	&.players-4{
	  background: #f00;
	  
  	&:hover {
  	  background: #e00;
  	}
	}
	
}

/* @group game_layout */

.game-title{
  width: 180px;
}

.delete-button{
  position: absolute;
  top: 10px;
  right: 20px;
}

.game-info{
  width: 490px;
}

.previous-trick{
  width: 300px;
  margin-left: 690px;
}

.game-page{
  position: absolute;
  top: 120px;
  width: 650px;
}

.game-progress{
  width: 550px;
  margin: 90px;
  margin-bottom: 20px;
}

.scoreboard{
  width: 400px;
}

/* @group table */

.table{
  background: #008000;
  margin-left: 50px;
  height: 300px;
  padding: 40px;
  position: relative;
  width: 300px;
  
  .played {
    position: absolute;
    
  	&.position-0 {
  		bottom: -10px;
  		left: 50%;
  		margin-left: -36px;
  	}

  	&.position-1 {
  		left: 14px;
  		margin-top: -50px;
  		@include rotate(90deg);
  		top: 50%;
  	}

  	&.position-2 {
  		left: 50%;
  		margin-left: -36px;
  		top: 0;
  	}

  	&.position-3 {
  		margin-top: -50px;
  		right: 14px;
  		@include rotate(-90deg);
  		top: 50%;
  	}
  }
}

/* @group hands */

.my-hand{
  height: 120px;
}

.pass-instructions{
  left: -20px;
  position: relative;
  top: -110px;
  width: 200px;

}
  
.pass-button{
  right: -40px;
  position: relative;
  top: 20px;
}

.hand {
  height: 100px;
  margin-left: 180px;
  overflow: hidden;
  padding-top: 20px;
  width: 100%;

	.card {
		float: left;
		position: relative;
		margin-right: -55px;
		top: 0;
		@include transition(all .25s);
    
    &.chosen, &.chosen-final {
      top: $cardPos - 10px;
    }
    
		&.playable, &.choosable {
			top: $cardPos;

			&:hover {
        top: $cardPos - 5px;
				@include rotate(5deg);
			}
		}

	}
}

/* @group cards */

.card {
  background: #fff url(../assets/deck.gif);
  display: block;
  height: 100px;
	overflow: hidden;
	text-indent: -9999px;
  width: 72px;
}

@for $i from 2 through 10 {
	.card-#{$i}-heart {
		background-position: -72px * $i + 72px 0;
	}
}

.card-J-heart {
	background-position: -720px 0;
}

.card-Q-heart {
	background-position: -792px 0;
}

.card-K-heart {
	background-position: -864px 0;
}

.card-A-heart {
	background-position: 0 0;
}

@for $i from 2 through 10 {
	.card-#{$i}-diamond {
		background-position: -72px * $i + 72px -100px;
	}
}

.card-J-diamond {
	background-position: -720px -100px;
}

.card-Q-diamond {
	background-position: -792px -100px;
}

.card-K-diamond {
	background-position: -864px -100px;
}

.card-A-diamond {
	background-position: 0 -100px;
}

@for $i from 2 through 10 {
	.card-#{$i}-club {
		background-position: -72px * $i + 72px -200px;
	}
}

.card-J-club {
	background-position: -720px -200px;
}

.card-Q-club {
	background-position: -792px -200px;
}

.card-K-club {
	background-position: -864px -200px;
}

.card-A-club {
	background-position: 0 -200px;
}

@for $i from 2 through 10 {
	.card-#{$i}-spade {
		background-position: -72px * $i + 72px -300px;
	}
}

.card-J-spade {
	background-position: -720px -300px;
}

.card-Q-spade {
	background-position: -792px -300px;
}

.card-K-spade {
	background-position: -864px -300px;
}

.card-A-spade {
	background-position: 0 -300px;
}

/* @group previous-trick */


.previous-trick-cards{
  display: none;
  height: 150px;
  position: relative;
  right: -20px;
  
  .card{
  	margin-right: -55px;
  }
}

/* @group scoreboard */

.scoreboard{
  color: #fff
}

/* @group seated-players */

.seated-players{
  position: absolute;
  
  .seated-at-none, .seated-at-left, .seated-at-top, .seated-at-right{
    &.false {
      .current-player-nil-true {
        background: url(../assets/user.png);
        bottom: -130px;
        height: 120px;
        width: 120px;
        
        .round-score {
        color: white;
        position: relative;
        bottom: -105px;
        }
      }
    }
  }
  .seated-at-left, .seated-at-top, .seated-at-right{
    &.false{
      background: url(../assets/user.png);
    }
    height: 120px;
    width: 120px;
    position: absolute;
    .round-score{
      color: white;
      position:relative;
      bottom: -103px;
    }
  }
  
  .seated-at-none{
    position: absolute;
    right: -300px;
    width: 120px;

    .round-score{
      color: white;
      position:relative;
      bottom: -145px;
    }
  }
  .seated-at-left{
    &.true{
      background: url(http://cageme.herokuapp.com/120/120);
    }
    left: -90px;
    top: -250px;
  }
  
  .seated-at-top{
    &.true{
      background: url(http://cageme.herokuapp.com/121/121);
    }
    right: -300px;
    top: -520px;
  }
  
  .seated-at-right{
    &.true{
      background: url(http://cageme.herokuapp.com/122/122);
    }
    right: -570px;
    top: -250px;
  }
}

/* @group opentok's */

#all-the-streams{
  position: absolute;
  right: 0px;
  width: 300px;
}
