body {
  background-color: #CCC;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

body {
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  padding-bottom: 20px;
}

.main-dashboard{
  # margin-left: 250px;
}

#previous-trick{
  width: 300px;
  margin-left: 710px;
}

#game-page{
  position: absolute;
  top: 120px;
  width: 700px;
}

.special-button{
  background:url(/images/d8.gif)
}

ul {
list-style-type: none;
}

li {
float: left;
}

.elevated-card{
  position: relative; 
	top: -18px;
}

.navbar{*position:relative;}
.navbar-inner{min-height:30px;padding-top:10px;background-image:-webkit-linear-gradient(top, #777, #777);}


a {
  color: #000;
  &:visited {
    color: #333; }
  &:hover {
    color: #FFF; } }


navbartext{
  font-size: 16px;
  padding-left: 10px;
  vertical-align: top;
  color: #000;
}

navbartext > a {
  vertical-align: top;
  color: #000;
  &:visited {
    color: #000; }
  &:hover {
    color: #DDD; } }


.mytable {
  width:300px;
  padding-bottom: 20px;
}


.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th{background-color:#999;}
.table-striped tbody tr:nth-child(even) td,.table-striped tbody tr:nth-child(even) th{background-color:#BBB;}
.table tbody tr:hover td,.table tbody tr:hover th{background-color:#AAA;}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
