<h3>The Deck</h3>
<table>
  <tr>
    <th>Value</th>
    <th>Suit</th>
  </tr>

<% @deck.cards.each do |card| %>
  <tr>
    <td><%= card.value %></td>
    <td><%= card.suit %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', room_path(@deck.room) %>
